{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is an initial exploration into how existing user insights could inform a new amalgamated digital insolvency service.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your personal details answers
      </h1>

      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds-from-desktop" action>

              <form class="form" action="/check-your-personal-answers-answer" method="post">

                  {{
 govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Who are you"
            },
            value: {
              text: data['who-are-you']
            },
            actions: {
              items: [
                {
                  href: "/who-are-you",
                  text: "Change",
                  visuallyHiddenText: "Who are you"
                }
              ]
            }
          },
          {
            key: {
             text: "Email address"
            },
           value: {
           text: data['email-address']
           },
           actions: {
            items: [
               {
                 href: "/email-address",
                 text: "Change",
                 visuallyHiddenText: "Enter your email address"
                }
            ]
           }
          },
        {
            key: {
              text: "Full name"
            },
            value: {
              text: data['full-name']
            },
            actions: {
              items: [
                {
                  href: "/full-name",
                  text: "Change",
                  visuallyHiddenText: "Enter your Full name"
                }
              ]
            }
          },
        {
           key: {
             text: "Date of birth"
            },
           value: {
           text: data['date-of-birth-day'] + ' ' + data['date-of-birth-month'] + ' ' + data['date-of-birth-year']
           },
           actions: {
            items: [
               {
                 href: "/date-of-birth",
                 text: "Change",
                 visuallyHiddenText: "Date of birth"
                }
            ]
           }
          },
        {
            key: {
             text: "Gender"
            },
           value: {
           text: data['gender']
           },
           actions: {
            items: [
               {
                 href: "/gender",
                 text: "Change",
                 visuallyHiddenText: "Select your gender"
                }
            ]
           }
          },
        {
            key: {
             text: "Postcode"
            },
           value: {
           text: data['postcode']
           },
           actions: {
            items: [
               {
                 href: "/postcode",
                 text: "Change",
                 visuallyHiddenText: "Search for your postcode"
                }
            ]
           }
          },
        {
            key: {
             text: "Address"
            },
           value: {
           text: data['address']
           },
           actions: {
            items: [
               {
                 href: "/address",
                 text: "Change",
                 visuallyHiddenText: "Select your address"
                }
            ]
           }
          }
        ]
      })
                  }}

                      {{
 govukButton({
          text: "Continue"
        })
                      }}

                  </form>

</div>
      </div>
{% endblock %}
