{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is an initial exploration into how existing user insights could inform a new amalgamated digital insolvency service.'
}) }}
{{
 govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
})
}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" action="/dates-not-paid-for" method="post">
            {{
 govukDateInput({
  id: "date-redundancy",
  namePrefix: "date-redundancy",
  fieldset: {
    legend: {
      text: "Enter the date you became redundant",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
              value: {
            day: data['date-redundancy-day'],
            month: data['date-redundancy-month'],
            year: data['date-redundancy-year']}
})
            }}


            {{
 govukButton({
          text: "Continue"
        })
            }}

        </form>

    </div>
</div>

{% endblock %}
