{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is an initial exploration into how existing user insights could inform a new amalgamated digital insolvency service.'
}) }}
{{
 govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
})
}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" action="/gross-amount-owed" method="post">
            {{
 govukInput({
  label: {
    text: "If your employer sent you a payslip but did not pay you, what is the net amount you're owed?",
    classes: "govuk-label--l",
    isPageHeading: true
  },
    classes: "govuk-input--width-10",
    id: "net-amount-owed",
    name: "net-amount-owed",
    value: data['net-amount-owed'],
    prefix: {
            text: "£"
            }
})
            }}

            {{
 govukButton({
          text: "Continue"
        })
            }}

        </form>

    </div>
</div>

{% endblock %}
