{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is an initial exploration into how existing user insights could inform a new amalgamated digital insolvency service.'
  }) }}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Working, jobs and pensions",
        href: "#"
      },
      {
        text: "Redundancies, dismissals and disciplinaries",
        href: "#"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Manage insolvency and redundancy claims
        </h1>

        <p class="govuk-body">Employees and directors can use this service to:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>claim money if your employer owes you a redundancy payment or other money like wages, holiday and commission</li>
            <li>claim money if your employer owes you a payment relating to unserved notice period</li>
            <li>amend a claim for payment</li>
        </ul>

        <p class="govuk-body">Directors claiming money must also use this service to provide additional information.</p>

        <p class="govuk-body">Non-employee's who are owed payments from employers, like contractors, are known as creditors. Creditors can use this service to:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>register as a creditor to find contact details of case handlers if you are owed under £1,000</li>
            <li>submit a proof of debt if you are owed over £1,000</li>
        </ul>

        <p class="govuk-body">Insolvency practitioners can use this service to:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>set up a redundancy case</li>
            <li>provide employee and employer information relating to insolvency and redundancy claims</li>
        </ul>


          {{
 govukButton({
        text: "Start now",
        href: "/who-are-you",
        isStartButton: true
      })
          }}

          <h2 class="govuk-heading-m">
              Before you start
          </h2>

          <p>
              This service is also <a href="#">available in Welsh (ar gael yn Gymraeg)</a>.
          </p>

          <p>
              You can’t use this service if you’re in the UK illegally.
          </p>

      </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Useful links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Your rights if your employer is insolvent
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
