{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is an initial exploration into how existing user insights could inform a new amalgamated digital insolvency service.'
}) }}
{{
 govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
})
}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/email-address" method="post">

            {{
   govukRadios({
  name: "what-do-you-want-to-do",
  value: data['what-do-you-want-to-do'],
  fieldset: {
    legend: {
      text: "What do you want to do?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "Start a new claim",
      text: "Start a new claim"
    },
    {
      value: "Continue an application",
      text: "Continue an application"
    }
  ]
})
            }}

            {{
 govukButton({
          text: "Continue"
        })
            }}

        </form>

    </div>
</div>

{% endblock %}
